# Files and directories created by pub
.dart_tool/
.packages

# Don't ignore pubspec.lock as this is an application
#pubspec.lock

# Conventional directory for build outputs
build/
bin/main

# Directory created by dartdoc
doc/api/
